.container {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  grid-template-rows: 0.5fr 2fr 0.5fr;
  gap: 0px 0px;

  height: 500px;
  width: 500px;
}

.container__item {
  background-color: #b0b0b0;
}

.container__item-image {
  background-color: #b0b0b0;
}

.container__item-image img {
  height: 100px;
  width: 100px;

  position: relative;
  top: 50%;
  left: 50%;

  margin-left: -50px;
  margin-top: -50px;
}

.container__item-action {
  background-color: #62a5d6;
}